{% extends 'base.html'%}

{% block title %}Blog{% endblock %}

{% block content %}

    <table class="table table-striped table-bordered">
        <thead class="lead">
            <th>Title</th>
            <th>Last update</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    <a class="lead" href="{% url 'post' post.id %}">{{ post.title }}</a>
                    <br/>
                    {{ post.description|slice:":50"|safe }}...
                </td>
                <td>{{ post.updated_at }}</td>
                <td>
                    <a href="{% url 'edit' post.id %}">
                        <button class="btn btn-warning">edit</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete' post.id %}">
                        <button class="btn btn-danger">delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if posts.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
    <br/>
    
    <a href="{% url 'new' %}"><button class="btn btn-success">New Post</button></a>

{% endblock %}