{% extends 'base.html'%}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <p class="text-danger">last update: {{ post.updated_at }}</p>
    <hr>
    <p>{{ post.description|safe|linebreaks }}</p>

    <div class="float-left">
        {% if post.get_previous_by_created_at.id %}
        <a href="{% url 'post' post.get_previous_by_created_at.id %}"><button class="btn btn-info">Previous</button></a>
        {% else %}
        <button class="btn btn-danger">Last</button>
        {% endif %}

        {% if post.get_next_by_created_at.id %}
        <a href="{% url 'post' post.get_next_by_created_at.id %}"><button class="btn btn-info">Next</button></a>
        {% else %}
        <button class="btn btn-danger">Last</button>
        {% endif %}
    </div>

    <a href="{% url 'home' %}"><button class="btn btn-info float-right">Back</button></a>

{% endblock %}